{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>실시간 기구 사용 현황</h1>
<ul>
    {% for equipment in equipments %}
        <li>
            {% if equipment.equipment_id in equipmentinuse_ids %}
                <span style="color: red;">&#9679; {{ equipment.equipment_name }}</span> 사용중    
            {% else %}
                <span style="color: blue;">&#9679; {{ equipment.equipment_name }}</span> 사용 가능
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}