<!-- 
 1.
 equipment_type_list에는 총 3가지 equipment_type이 존재하는데
 equipment_type에 따라 총 3부분으로 나눠서 사용자의 운동기구 예약이 편리하게 돕는다.

 2.
퇴장률별 예약 시작 시간 배정
뷰에서 exit_rate를
request.user.manual_exit_rate로 현재 로그인 한 유저의 퇴장률 정의해두고
이 html으로 exit_rate로 받아오는데,
exit_rate에 따라 이 html에 접근할 수 있는 시간대가 달라지고
아래와 같이 그 시간대를 적용한다.
    '''
    100% : 12시
    90% 대 : 12시 1분
    80% 대 : 12시 2분
    70% 대 : 12시 3분
    60% 대 : 12시 4분
    50% 대 : 12시 5분
    40% 대 : 12시 6분
    30% 대 : 12시 7분
    20% 대 : 12시 8분
    10% 대 : 12시 9분
    0% 대 : 12시 10분
    '''
 -->
    
{% block head %}
    <title>Equipment List</title>
{% endblock %}

{% block content %}
    <h1>Equipment List</h1>
    <ul>
        {% for equipment in equipments %}
            <li>
                {{ equipment.equipment_name }}
                <form method="post" action="{% url 'equipment:reserve_equipment' equipment.equipment_id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary button" name="timeslot" value="18:00 - 18:30">18:00 - 18:30</button>
                    <button type="submit" class="btn btn-primary button" name="timeslot" value="18:30 - 19:00">18:30 - 19:00</button>
                    <button type="submit" class="btn btn-primary button" name="timeslot" value="19:00 - 19:30">19:00 - 19:30</button>
                    <button type="submit" class="btn btn-primary button" name="timeslot" value="19:30 - 20:00">19:30 - 20:00</button>
                    <button type="submit" class="btn btn-primary button" name="timeslot" value="20:00 - 20:30">20:00 - 20:30</button>
                    <button type="submit" class="btn btn-primary button" name="timeslot" value="20:30 - 21:00">20:30 - 21:00</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

<style>
    .button {
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: small;
        font-family: inherit;
        font-weight: bold;
        color: #0011ff;
        background-color: #f8f8fd;
        padding: 0.8em 2.2em;
        border-radius: 50em;
        border: 6px solid #8b93f8;
        box-shadow: 0px 8px #092dcf;
    }
    .button:active {
        position: relative;
        top: 8px;
        border: 6px solid #646fff;
        box-shadow: 0px 0px;
    }
</style>