body {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 600px;
    height: 100%;
    max-width: 600px;
}
.black-btn {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}
.home_b{
    background-color: #58C3FF;
    height: 100px;
}
