body {
    background-color: #f8f9fa;
    padding-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: #007bff;
    text-decoration: none;
}

/* form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
} */

form input {
    width: 300px;
    margin-right: 10px;
}

.member-list {
    list-style-type: none;
    padding: 0;
}

.member-list li {
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
}

.member-list a {
    text-decoration: none;
    color: #343a40;
}

.member-list a:hover {
    color: #007bff;
}

.pagination {
    display: flex;
    justify-content: center;
}