{% extends "base.html" %}

{% endblock %}

{% block title %}Approve Trainer Request{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 80vh; flex-direction: column; text-align: center;">
    <h1>트레이너를 승인 하시겠습니까?</h1>
    <p><strong>이름 : </strong> {{ trainer_request.user.username }}</p>
    <p><strong>신청 헬스장 : </strong> {{ trainer_request.requested_gym.name }}</p>
    <p><strong>소개 : </strong> {{ trainer_request.request_message }}</p>
    <form method="post" style="width: 300px;">
        {% csrf_token %}
        <button type="submit" name="action" value="approve" class="request-button">승인</button>
        <a href="{% url 'reject_trainer_request' trainer_request.id %}" class="button request-button">거절</a>
    </form>
</div>
{% endblock %}
