{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/gyms.css' %}">
</head>

<body>
    <h2>회원 목록</h2>
    <ul>
        {% for member in gym_members %}
        <li><a href="{% url 'trainer_detail_page' member.member_id %}">
                {{ member.user.username }} - {{member.membership_type }}<br>
                가입일 : {{ member.join_date }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>