<!-- templates/profile.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="profile-container">
        <h1>{{ user.username }}'s Profile</h1>
        {% if user.user_image %}
            <img src="{{ user.user_image.url }}" alt="Profile Image" width="150" height="150" style="border-radius: 50%;"/>
        {% else %}
            <img src="{% static 'default.png' %}" alt="Profile Image" width="150" height="150" style="border-radius: 50%;"/>
        {% endif %}
        <p>Email: {{ user.email }}</p>
        <p>Nickname: {{ user.nickname }}</p>
        <div class="form-group">
            <label for="nfc_uid">NFC :</label>
            <input type="text" name="nfc_uid" id="nfc_uid" class="form-control" autocomplete="nfc_uid">
        </div>
        
        {% if user.is_authenticated %}
        <!-- 로그아웃 버튼 -->
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <p>You are not logged in.</p>
        {% endif %}
        <!-- 여기에 다른 사용자 정보 추가 -->
    </div>
{% endblock %}
