{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    body {
        overflow: auto; /* 스크롤 가능하게 설정 */
        width: 600px;
    }

    .profile-container {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 20px auto;
    }
    .profile-container img {
        width: 100%;
        height: 100%;
        border-radius: 50%; /* 둥근 원형으로 설정 */
        object-fit: cover; /* 이미지가 컨테이너를 꽉 채우도록 설정 */
    }
    .upload-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #8FCBDD;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .upload-button input[type="file"] {
        display: none;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #8FCBDD;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #7bb9c9;
    }

    form {
        margin-top: 20px;
        padding: 15px;
        width : 80%;
        margin : auto;
    }

    /* 스크롤 가능하게 설정 */
    .content-container {
        width : 100%;
        max-height: 80vh; /* 화면 높이의 80%까지 허용 */
        overflow-y: auto;
        margin : auto;
    }
</style>
{% endblock %}

{% block content %}
<div class="content-container">
    <form method="post" action="{% url 'profile_update' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <div class="profile-container mb-3">
                {% if user.user_image %}
                    <img src="{{ user.user_image.url }}" id="image_preview" alt="Profile Image" class="img-fluid circle"/>
                {% else %}
                    <img src="{% static 'default.png' %}" id="image_preview" alt="Profile Image" class="img-fluid circle"/>
                {% endif %}
                <label class="upload-button" for="id_user_image">
                    <i class="fa fa-camera"></i>
                    <input type="file" name="user_image" id="id_user_image" class="form-control" onchange="previewImage(event)">
                </label>
            </div>
            {{ form.user_image.errors }}
        </div>
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            {{ form.phone1.label_tag }}
            {{ form.phone1 }}
            {{ form.phone1.errors }}
        </div>
        <div class="form-group">
            {{ form.phone2.label_tag }}
            {{ form.phone2 }}
            {{ form.phone2.errors }}
        </div>
        <div class="form-group">
            {{ form.phone3.label_tag }}
            {{ form.phone3 }}
            {{ form.phone3.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.birth.id_for_label }}">생년 월 일:</label>
            <input type="date" name="{{ form.birth.name }}" id="{{ form.birth.id_for_label }}"
                   class="form-control" value="{{ form.birth.value|stringformat:'s' }}">
        </div>
        <div class="form-group">
            {{ form.address.label_tag }}
            {{ form.address }}
            {{ form.address.errors }}
            <button type="button" onclick="execDaumPostcode()">주소 검색</button>
        </div>
        <div class="form-group"
            {{ form.detail_address.label_tag }}
            {{ form.detail_address }}
            {{ form.detail_address.errors }}
        </div>
        <div class="form-group">
            {{ form.nickname.label_tag }}
            {{ form.nickname }}
            {{ form.nickname.errors }}
        </div>
        <div class="form-group">
            {{ form.gender.label_tag }}
            {{ form.gender }}
            {{ form.gender.errors }}
        </div>
        
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        var imagePreview = document.getElementById('image_preview');

        if (event.target.files && event.target.files[0]) {
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        } else {
            imagePreview.src = "{% static 'default.png' %}";
        }
    }
</script>

<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 선택된 주소와 상세 주소를 가져와서 입력 필드에 설정합니다.
                var address = data.address; // 최종 주소 변수
                var extraAddress = ''; // 참고항목 변수

                // 참고항목 추가
                if (data.addressType === 'R') { // 도로명 주소인 경우
                    if (data.bname !== '') {
                        extraAddress += data.bname;
                    }
                    if (data.buildingName !== '') {
                        extraAddress += (extraAddress !== '' ? ', ' : '') + data.buildingName;
                    }
                    address += (extraAddress !== '' ? ' ('+ extraAddress +')' : '');
                }

                // 입력 필드 업데이트
                document.getElementById('{{ form.address.id_for_label }}').value = address;
            }
        }).open();
    }
</script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
{% endblock %}
