<!DOCTYPE html>
<html>
<head>
    <title>Search Member</title>
</head>
<body>
    <h1>이름으로 검색</h1>
    <form id="search-form" onsubmit="event.preventDefault(); searchUser();">
        <input type="text" id="username" name="username" placeholder="Enter username" required>
        <button type="submit">Search</button>
    </form>
    <div id="results"></div>
</body>
</html>

<script>
    function searchUser() {
        const username = document.getElementById('username').value;
        fetch(`/search-user/${username}/`)
            .then(response => response.json())
            .then(data => {
                const resultsDiv = document.getElementById('results');
                resultsDiv.innerHTML = '';

                if (data.length > 0) {
                    data.forEach(user => {
                        const userDiv = document.createElement('div');
                        userDiv.innerText = `Username: ${user.username}, Email: ${user.email}, NFC UID: ${user.nfc_uid}`;
                        resultsDiv.appendChild(userDiv);
                    });
                } else {
                    resultsDiv.innerText = 'No users found';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
